.information
  padding-top 188px
  position relative
  z-index 1
  &-background
    position absolute
    background-image url('../img/cover-azul@2x.jpg')
    background-position center center
    background-size cover
    height 93.333vh
    width 100%
  &-title
    margin 0
    font-family "Galano Grotesque"
    font-size remify(61)
    font-weight $medium
    line-height 1.16
    letter-spacing -0.4px
    text-align center
    color #ffffff
  &-text
    margin 0
    font-size remify(20)
    font-weight $medium
    line-height 2
    letter-spacing 0.4px
    text-align center
    color #ffffff
  &-form
    text-align center
    margin-top 49px
    &-input
      border-radius 6px
      border solid 1px #ffffff
      background-color rgba(255, 255, 255, 0.45)
      font-size 15px
      font-weight 500
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing 0.2px
      color #ffffff
      padding 13px 17px 12.7px 17px
      width 268px
      margin-right 11px
      &::placeholder
        font-size 15px
        font-weight 500
        font-style normal
        font-stretch normal
        line-height normal
        letter-spacing 0.2px
        color #ffffff
  &-image
    display block
    margin 30px auto 0 auto
    width 65.4166%
.easy
  text-align center
  padding 0 12.3611% 66px 9.3055%
  margin-top -20px
  &-title
    text-align center
    position relative
    display inline-block
    padding 0 0 10px 0
    img
      position absolute
      right 0
      bottom 0
  &-cards
    width 100%
    display flex
    justify-content space-between
    margin-top 42px
  &-card
    background-color white
    width 21.453%
    height 286px
    text-align left
    &:nth-child(1)
      padding 32px 30px 39px 32px
    &:nth-child(2)
      padding 35px 14px 39px 34px
    &:nth-child(3)
      padding 32px 4px 48px 36px
    &:nth-child(4)
      padding 26px 9px 17px 31px
    &-title
      font-family "Galano Grotesque"
      font-size remify(20)
      font-weight $medium
      line-height 1.9
      letter-spacing 0.3px
      color #454f66
      margin-top 31px
    &-text
      font-family "Glacial Indifference"
      font-size remify(16)
      font-weight $normal
      line-height 1.44
      letter-spacing 0.3px
      color #7c7c7c
      margin-top 10px
  &-btn
    margin-top 101px
.doctor
  background-image url('../img/doctor-bg@2x.png')
  background-position center center
  background-size cover
  display flex
  align-items center
  padding 110px 13.75% 97px 13.75%
  justify-content space-between
  &-img
    width 411px
    flex-basis 411px
    height 485px
  &-content
    display flex
    align-items flex-start
    width 49%
    &-container
      margin-left 51.3px
  &-title
    margin 0
  &-text
    font-family "Galano Grotesque"
    font-size remify(18)
    font-weight $medium
    line-height 1.94
    letter-spacing 0.5px
    color #666666
    margin 13.2px 0 0 0
  &-information
    display inline-block
    float right
    padding-right 58px
    margin-top 45px
  &-name
    display flex
    align-items center
    &-line
      width 27px
      height 1px
      border solid 2px #2c2c2c
      margin-right 21px
    span
      font-family "Gotham"
      font-size remify(21)
      font-weight $medium
      line-height 1.67
      letter-spacing 0.6px
      color #2c2c2c
  &-grade
    font-family Gotham
    font-size remify(16)
    font-weight $medium
    line-height 2.19
    letter-spacing 0.5px
    color #4678df
    padding-left 48px
.communication
  padding 43px 8.5416% 86px 8.5416%
  &-title
    text-align center
  &-items
    margin-top 49px
    display flex
    justify-content space-between
.patients
  background-color rgba(29, 41, 204, 0.84)
  padding 72px 13.75% 88.5px 13.75%
  position relative
  &-image
    position absolute
    top -28px
    right 15.277%
  &-title
    font-family "Galano Grotesque"
    font-size remify(50px)
    font-weight $medium
    line-height 1.6
    letter-spacing -0.3px
    color #ffffff
    margin 0
  &-subtitle
    font-size remify(27px)
    font-weight $medium
    line-height 1.48
    letter-spacing 0.5px
    color #ffffff
  &-btn
    margin-top 37px