.information
  padding-top 188px
  position relative
  z-index 1
  @media $xs
    padding 76px 10px 0 10px
  &-background
    position absolute
    background-image url('../img/cover-azul@2x.jpg')
    background-position center center
    background-size cover
    height 93.333vh
    max-height 840px
    width 100%
    @media screen and (min-height: 1280px)
      max-height 700px
    @media $sm
      height 630px
    @media $xs
      height 370px

  &-title
    margin 0
    font-size remify(58)
    font-weight $medium
    line-height 1.16
    letter-spacing -0.4px
    text-align center
    color #ffffff
    @media $xs
      font-size remify(25)
      line-height 1.64
      letter-spacing -0.1px
      br
        display block
  &-text
    margin 10px 0 0 0
    font-size remify(20)
    font-weight $medium
    line-height 2
    letter-spacing 0.4px
    text-align center
    color #ffffff
    br
      display none
      @media $xs
        display block
    span
      position relative
      img
        position absolute
        bottom -7px
        right 0
        width 71px
        height 3px
        @media $xs
          right 0
          width 100%
          height auto
    @media $xs
      font-size remify(14)
      line-height 2
      letter-spacing 0.3px
      margin 0
  &-form
    text-align center
    margin-top 49px
    @media $xs
      margin-top 20px
      display flex
      align-items center
      justify-content center
    &-input
      border-radius 6px
      border solid 1px #ffffff
      background-color rgba(255, 255, 255, 0.45)
      font-size 15px
      font-weight $medium
      letter-spacing 0.2px
      color #ffffff
      padding 13px 17px 12.7px 17px
      width 268px
      margin-right 5px
      &::placeholder
        font-size 15px
        font-weight 500
        font-style normal
        font-stretch normal
        line-height normal
        letter-spacing 0.2px
        color #ffffff
        @media $xs
          font-size remify(12)
      @media $xs
        width 189px
        font-size remify(12)
        padding 10px 25.2px 11.7px 13.1px
        margin-right 6px
  &-image
    display block
    margin 30px auto 0 auto
    width 65.4166%
    @media $xs
      width 90.9375%
.easy
  text-align center
  padding 0 12.3611% 66px 9.3055%
  margin-top -20px
  position relative
  z-index 1
  overflow hidden
  @media $sl
    padding 0 5% 66px 5%
  @media $sm
    padding 0 12.3611% 66px 9.3055%
  @media $xs
    padding-bottom 30px
  &-title
    text-align center
    position relative
    display inline-block
    padding 0 0 10px 0
    span
      position relative
      img
        position absolute
        right 0
        bottom -10px
        width 60%
    @media $sl
      margin-top 20px
  &-cards
    width 100%
    display flex
    justify-content space-between
    margin-top 42px
    @media $sm
      flex-wrap wrap
      justify-content space-around
    @media $xs
      justify-content space-between
      margin-top 0
  &-card
    background-color white
    width 21.453%
    height 286px
    text-align left
    @media $sl
      flex-basis 23%
    @media $sm
      flex-basis 36%
    @media $xs
      flex-basis 48%
      height 100px
      display flex
      flex-direction column
      justify-content center
      align-items center
    &:nth-child(1)
      padding 32px 30px 39px 32px
      @media $xs
        padding 13px 18px 0 18px
        img
          width 82px
          height 49px
    &:nth-child(2)
      padding 35px 14px 39px 34px
      @media $xs
        padding 13px 0 3px 0
        img
          width 43px
          height 45px
    &:nth-child(3)
      padding 32px 4px 48px 36px
      @media $sm
        margin-top 30px
      @media $xs
        margin-top 12px
        padding 16px 0 7px 0
        img
          width 45px
          height 49px
    &:nth-child(4)
      padding 26px 9px 17px 31px
      @media $sm
        margin-top 30px
      @media $xs
        margin-top 12px
        padding 7px 0 6px 0
        img
          width 59px
          height 59px
    &-title
      font-family "Galano Grotesque"
      font-size remify(20)
      font-weight $medium
      line-height 1.9
      letter-spacing 0.3px
      color #454f66
      margin-top 31px
      @media $xs
        margin-top 0
        font-size remify(15)
        font-weight $medium
        letter-spacing 0.3px
    &-text
      font-family "Glacial Indifference"
      font-size remify(15)
      font-weight $normal
      line-height 1.44
      letter-spacing 0.3px
      color #9b9b9b
      margin-top 10px
      @media $sl
        font-size remify(14)
      @media $xs
        display none
  &-btn
    margin-top 101px
    width 240px
    @media $xs
      display block
      width 110%
      margin 22px 0 0 -5%
  &-bg-image
    position absolute
    right 0
    bottom -220px
.doctor
  background-image url('../img/doctor-bg@2x.png')
  background-position center center
  background-size cover
  display flex
  align-items flex-start
  padding 110px 13.75% 97px 13.75%
  justify-content space-between
  @media $sl
    padding 110px 5% 97px 6%
  @media $xs
    background-image url('../img/doctor-bg-mobile@2x.png')
    padding 0 0 23px 0
    flex-wrap wrap
  &-img
    flex-basis 39.36%
    height auto
    margin-right 12.8352%
    @media $sl
      margin-right 5%
    @media $xs
      flex-basis 55.3125%
      margin-right 0
    img
      width 100%
      height 100%
  &-quotes
    margin-right 4.9137%
    margin-top 72.7px
    img
      width 100%
      height 100%
    @media $xs
      margin-top 23px
      margin-right 20.9375%
  &-content
    width auto
    flex 1
    display flex
    flex-direction column
    margin-top 72.7px
    @media $xs
      flex-basis 100%
      margin-top 15px
      padding 0 10px 0 20px

  &-title
    margin 0
    br
      display none
      @media $xs
        display block
    @media $sm
      font-size remify(30)
    @media $xs
      font-size remify(21)
      line-height 1.4
      letter-spacing 0px
  &-text
    font-family "Galano Grotesque"
    font-size remify(18)
    font-weight $medium
    line-height 1.94
    letter-spacing 0.5px
    color #9b9b9b
    margin 13.2px 0 0 0
    @media $sm
      font-size remify(16)
    @media $xs
      font-size remify(12)
      line-height 1.75
      letter-spacing 0.4px
  &-information
    display block
    margin 45px 58px 0 auto
    @media $sm
      margin 15px 13px 0 auto
    @media $xs
      margin 14px 0 0 0
  &-name
    display flex
    align-items center
    &-line
      width 25px
      height 1px
      border solid 2px #2c2c2c
      margin-right 13px
    span
      font-family "Gotham"
      font-size remify(21)
      font-weight $medium
      line-height 1.67
      letter-spacing 0.6px
      color #2c2c2c
      @media $xs
        font-size 11px
        letter-spacing 0.3px
        color #2c2c2c
  &-grade
    font-family Gotham
    font-size remify(16)
    font-weight $medium
    line-height 2.19
    letter-spacing 0.5px
    color #4678df
    padding-left 39px
    @media $xs
      font-size 11px
      letter-spacing 0.3px
.communication
  padding 43px 8.5416% 86px 8.5416%
  @media $xs
    padding-bottom 41px
    padding-top 0
  &-title
    text-align center
  &-items
    margin-top 49px
    display flex
    justify-content space-between
    flex-wrap wrap
    @media $sm
      justify-content space-around
    @media $xs
      margin 0
  &-item
    @media $sm
      width 33.333%
      text-align center
      &:nth-child(n+4)
        margin-top 17px
    @media $xs
      margin-top 0
      justify-content space-around
      width 45%
      &:nth-child(3)
        img
          width 75%
      &:nth-child(5)
        img
          width 85%
      &:nth-child(n+3)
        margin-top 17px
      img
        width 100%
        height auto

.patients
  background-color rgba(29, 41, 204, 0.84)
  padding 72px 13.75% 88.5px 13.75%
  position relative
  @media $sl
    padding 37px 5% 40px 6%
  @media $xs
    padding 37px 0 40px 0
    text-align center
  &-image
    position absolute
    top -28px
    right 15.277%
    @media $sl
      right 5%
      width 36%
    @media $sm
      top 50%
      transform translateY(-50%)
    @media $xs
      position relative
      width 67%
      display block
      top 0
      right 0
      margin 0 auto
      transform none
  &-title
    font-family "Galano Grotesque"
    font-size remify(50px)
    font-weight $medium
    line-height 1.6
    letter-spacing -0.3px
    color #ffffff
    margin 0
    @media $xs
      font-size remify(25)
      line-height 2.24
      letter-spacing -0.1px
      text-align center
  &-subtitle
    font-size remify(27px)
    font-weight $medium
    line-height 1.48
    letter-spacing 0.5px
    color #ffffff
    @media $xs
      font-size remify(25)
      font-weight $medium
      line-height 1.6
      letter-spacing 0.5px
      text-align center
  &-btn
    margin-top 37px
    @media $xs
      display block
      width 87.5%
      margin 37px auto 0 auto