{% extends "partials/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="information-background"></div>
<section class="information">
  <h1 class="information-title">
    Comienza hoy a recetar
  </h1>
  <p class="information-text">
    Plataforma <span>gratuita <img src="img/white-line.svg" alt="Blue line"></span> para generar y <br> guardar recetas médicas
  </p>
  <form class="information-form">
    <input type="email" class="information-form-input" name="email" placeholder="Correo electrónico">
    <button type="button" class="prescrypto-btn">Registrarme</button>
  </form>
  <img src="img/computer.png"
       srcset="img/computer@2x.png 2x,
             img/computer@3x.png 3x"
        class="information-image">
  <div class="easy">
    <h2 class="prescrypto-title easy-title">
      Es muy sencillo <span>¡y gratis! <img src="img/blue-line.svg" alt="Blue line"></span>
    </h2>
    <div class="easy-cards">
      <div class="easy-card">
        <img src="img/card-1.svg">
        <div class="easy-card-title">
          Consulta
        </div>
        <div class="easy-card-text">
          Consulta un gran catálogo de medicamentos
        </div>
      </div>
      <div class="easy-card">
        <img src="img/card-2.png"
             srcset="img/card-2@2x.png 2x,
             img/card-2@3x.png 3x">
        <div class="easy-card-title">
          Guarda
        </div>
        <div class="easy-card-text">
          Guarda en tu historial todas tus Recetas emitidas
        </div>
      </div>
      <div class="easy-card">
        <img src="img/card-3.png"
             srcset="img/card-3@2x.png 2x,
             img/card-3@3x.png 3x">
        <div class="easy-card-title">
          Genera
        </div>
        <div class="easy-card-text">
          Genera plantillas de tus recetas favoritas
        </div>
      </div>
      <div class="easy-card">
        <img src="img/card-4.png"
             srcset="img/card-4@2x.png 2x,
             img/card-4@3x.png 3x">
        <div class="easy-card-title">
          Protege
        </div>
        <div class="easy-card-text">
          Protege tus recetas médicas de forma segura con nuestra tecnología
        </div>
      </div>
    </div>
    <a href="#" class="prescrypto-btn reverse easy-btn">Registrarme</a>
  </div>
</section>
<section class="doctor">
  <figure class="doctor-img">
    <img src="img/doctor.png" alt="Doctor"
         srcset="img/doctor@2x.png 2x">
  </figure>
  <figure class="doctor-quotes">
    <img src="img/quotes.svg" alt="Quotes">
  </figure>
  <div class="doctor-content">
    <h1 class="prescrypto-title doctor-title">
      Duis aute <span>irure dolor</span> <br>
      delde reprehende
    </h1>
    <p class="doctor-text">
      Dis aute irure dolor in reprehenderit in voluptate velit esse  aute irure dolor in
      reprehenderit in volupta
    </p>
    <div class="doctor-information">
      <div class="doctor-name">
        <div class="doctor-name-line"></div>
        <span>Dr. Edson Lópex</span>
      </div>
      <div class="doctor-grade">
        Cirjuano plástico
      </div>
    </div>
  </div>
</section>
<section class="communication">
  <h2 class="prescrypto-title communication-title">
    Lo que dicen de <span>nosotros</span>
  </h2>
  <div class="communication-items">
    <img src="img/el-economista.png"
         srcset="img/el-economista@2x.png 2x,
             img/el-economista@3x.png 3x"
         class="communication-item" alt="El Economista">
    <img src="img/news-week.png"
         srcset="img/news-week@2x.png 2x,
             img/news-week@3x.png 3x"
         class="communication-item" alt="News Week">
    <img src="img/fortune.png"
         srcset="img/fortune@2x.png 2x,
             img/fortune@3x.png 3x"
         class="communication-item" alt="Fortune">
    <img src="img/tech-crunch.png"
         srcset="img/tech-crunch@2x.png 2x,
             img/tech-crunch@3x.png 3x"
         class="communication-item" alt="Tech Crunch">
    <img src="img/500-startups.png"
         srcset="img/500-startups@2x.png 2x,
             img/500-startups@3x.png 3x"
         class="communication-item" alt="500 Startups">
  </div>
</section>
<section class="patients">
  <h2 class="patients-title">
    Más de 100,000
  </h2>
  <div class="patients-subtitle">
    Pacientes recetados
  </div>
  <img src="img/patients.svg" alt="Patients" class="patients-image">
  <button class="prescrypto-btn patients-btn">Registrarme</button>
</section>
{% endblock %}