<footer class="footer">
  <div class="footer-blog">
    Blog
  </div>
  <img src="img/facebook.svg" alt="Facebook" class="footer-facebook">
  <img src="img/twitter.svg" alt="Twitter" class="footer-twitter">
  <div class="footer-label">
    Copyright Prescrypto 2019
  </div>
</footer>
