@font-face {
  font-family: 'Galano Grotesque';
  src: url('../fonts/galano_grotesque_medium.ttf') format('truetype');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('../fonts/glacial_indifference_regular.otf') format("opentype");
  font-weight: $normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham_medium.otf') format("opentype");
  font-weight: $medium;
  font-style: normal;
}