.prescrypto
  &-btn
    border-radius 6px
    border solid 1px #ffffff
    padding 13.3px 27.7px 12.5px 28.5px
    font-family "Galano Grotesque"
    font-size remify(15)
    font-weight $medium
    letter-spacing 0.2px
    text-align center
    color $blue
    background-color white
    display inline-block
    &.reverse
      color white
      background-color $blue
    &:hover
      color inherit
  &-title
    font-family "Galano Grotesque"
    font-size 38px
    font-weight $medium
    line-height 1.13
    letter-spacing -0.1px
    color #2c2c2c
    margin 0
    span
      color $blue