// COLORS
$errorColor = #ff3636
$successColor = #149a14
$blue = #3a45dd

// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black

$lg = "screen and (max-width: 1300px)"
$sl = "screen and (max-width: 1024px)"
$md = "screen and (max-width: 992px)"
$sm = "screen and (max-width: 768px)"
$xs = "screen and (max-width: 576px)"